// $base : #F7F6F0;
// $darken : darken(#F7F6F0 , 30%);
// $back: darken(#F7F6F0, 40%);

$violet: #6a396a;
$bg: #fff5ff;
$cells: #cbb6cb;
$orange: #f5a141;
$green: #3c8b32;
$gray: #717171;
$red: #d83a3a;